.genre-filter{
    width: 1024px;
    display: flex;
    justify-content: space-between;
    height: 171px;
    padding: 16px 0px;
    gap: 14px;
    flex-direction: column;
}

.title-genre{
    color: var(--color-gray-2);
    font-weight: 600;
    font-size: 24px;
}

.genre-filter .list-genre{
    display:flex;
    flex-direction: row;
    gap:25px;
}

.list-items{
    background-color: var(--color-gray-6);
    height: 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap:10px;
    padding: 11px 10px;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-gray-3);

}

.list-items-black{
    background-color: var(--color-gray-2);
    height: 32px;
    display:flex;
    border-radius: 4px;
    align-items: center;
    gap:10px;
    padding: 11px 10px;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-gray-7);
}