
.header{
    position:sticky;
    top:0;
    z-index: 1;

    margin:0 auto;
    background-color: var(--color-gray-8);
    max-width: 1024px;
    height:144px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--color-brand-2);
}


.header-logo{
    width:227.9px;
    height:48px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: var(--color-gray-2);
}

.header-span{
    color:var(--color-brand-2);
}



header .button-header{
    cursor:pointer;
    display: flex;
    align-items: center;
    padding:15px;
    width: 44px;
    height:36px;
    border-radius: 5px;
    background-color: var(--color-gray-6);
}

header .icon-lua{
    width: 16px;
    height: 18px;
}


.tema-button{
    display: flex;
    width: 44px;
    height: 36px;
    border-radius: 5px;
    background-color: var(--color-gray-6);
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.tema-button-dark{
    display: flex;
    width: 44px;
    height: 36px;
    border-radius: 5px;
    background-color: var(--color-gray-3);
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}


.header_theme-btn{
    display: flex;
    cursor:pointer;
    width: 17px;
    height: 18px;
    border-radius: 5px;
    background-image: url(../assets/icons/moon-icon.svg);
}

.header_theme-btn--sun{
    width: 17px;
    height:18px;
    background-image: url(../assets/icons/sun-icon.svg);
}


.header-logo-dark-mode{
    color: var(--color-gray-8);
}