
.header{
    position:sticky;
    top:0;
    z-index: 1;

    margin:0 auto;
    background-color: transparent;
    max-width: 1024px;
    height:144px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--color-brand-2);
}


.header-logo{
    width:227.9px;
    height:48px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: var(--color-gray-2);
}

.header-span{
    color:var(--color-brand-2);
}



header .button-header{
    cursor:pointer;
    display: flex;
    align-items: center;
    padding:15px;
    width: 44px;
    height:36px;
    border-radius: 5px;
    background-color: var(--color-gray-6);
}

header .icon-lua{
    width: 16px;
    height: 18px;
}


background-image: url("./src/assets/icons/moon-icon.svg"),
                  url:("./src/assets/icons/sun-icon.svg");         
